<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	<add
		 name="DefaultConnection"
		 connectionString="Server=202.124.186.16,1433;Database=XONTDevTracker;User ID=Hariharan;Password=Qc0H;TrustServerCertificate=true"
		 providerName="System.Data.SqlClient"
    />
	<!-- Additional connections if needed -->
	<add
      name="UserDB"
      connectionString="Server=202.124.186.16,1433;Database=XONTDevTracker;User ID=Hariharan;Password=Qc0H;TrustServerCertificate=true"
      providerName="System.Data.SqlClient"
    />
	</connectionStrings>
	<appSettings>
		<add key="Jwt:Secret" value="your_strong_secret_key_32+_chars"/>
		<add key="Jwt:ExpiryInDays" value="7"/>
	</appSettings>

</configuration>